/*General*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

body {
	background-color: #fff;
	color: #333;
	font-family: 'Open Sans', 'Roboto', sans-serif;
	font-size: 16px;
}

nav, header, footer, div, section, aside {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:link {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/*header*/
header {
	background-color: #000;
	height: 40px;
	position: relative;
	width: 100%;
}

header div {
	margin-left: 0.8em;
	position: relative;
}

.header-title h3 {
	color: #fff;
	text-align: left;
}

/*search filter*/
nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
}

form {
	min-height: 1px;
	padding: 0;
	padding-top: 15px;
	position: relative;
	width: 40%;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.search-bar {
	position: relative;
	width: 70%;
}

.btn-group {
	position: relative;
	vertical-align: middle;
}

.btn-group > .btn {
	position: relative;
	float: left;
}

.btn {
	background-color: #fff;
	color: #666;
	text-transform: uppercase;
	border-radius: 6px;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	width: 100%;
}

.control {
	background-color: #fff;
	border: 1px solid #e2e2e2;
	color: #000;
	display: block;
	height: 34px;
	line-height: 1.4;
	padding: 0;
	width: 100%;
}

.search-box {
	padding: 4px 8px;
}

.search-box .control {
	margin-bottom: 0;
	width: 100%;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	display: none;
	float: left;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	text-align: left;
	background-color: #fff;
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.17);
}

.picker .dropdown-menu {
	border-left: 1px #ccc;
	border-right: 1px solid #ccc;
}

.search-bar .btn-group .dropdown-menu {
	z-index: 1000;
	min-width: 100%;
	margin-top: 0;
}

.btn-group .inner {
	position: static;
	border: 0;
	margin: 0;
	padding: 0;
	border-radius: 0;
	min-width: 100%;
	box-shadow: none;
}

.dropdown-menu ul {
	max-height: 240px;
	overflow-y: auto;
	border: 0;
	list-style: none;
	margin: 0;
}

.dropdown-menu li {
	cursor: pointer;
	padding: 4px;
	padding-left: 1.3em;
	position: relative;
	width: 100%;
	max-height: 270px;
	overflow-y: auto;
}

.dropdown-menu li:hover {
	background-color: #e8e8e8;
}

.open {
	display: block;
}

.active {
	background-color: #e8e8e8;
}

.filter {
	width: 27%;
}

.filter button {
	background-color: #0479bc;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	padding: 5px 10px;
	position: relative;
	line-height: 1.5;
	width: 100%;
}

.filter button:hover {
	background-color: #2e6da4;
}

/*main*/
main {
	margin-top: 35px;
	display: block;
	position: relative;
	width: 100%;
}

.news-feed {
	align-items: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	height: auto;
	justify-content: space-between;
	margin-bottom: 5px;
	padding: 3px;
	width: 100%;
}

.news-image-wrapper {
	display: block;
	margin-right: 10px;
	overflow: hidden;
	width: 40%;
}

.news-image-wrapper img {
	display: block;
	width: 100%;
}

.news-box {
	width: 60%;
}

.news-box h3 {
	display: block;
	padding: 0.2em;
	position: relative;
}

.news-box p {
	display: block;
	padding: 0.2em;
	position: relative;
}

.news-box a {
	display: block;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

.news-box span {
	display: block;
	position: relative;
}

.move-up {
	border-radius: 50%;
	bottom: 0;
	position: absolute;
	right: 20%;
}

.notification {
	background-color: #151e1e;
	display: block;
	position: absolute;
	bottom: 20px;
	width: 70%;
}

.notification p {
	display: inline-block;
	position: relative;
	float: left;
	padding: 2px 4px;
}

.cancel, .update {
	color: red;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

/*footer*/
footer {
	background-color: #000033;
	color: #fff;
	position: relative;
	width: 100%;
}

footer > div {
	position: relative;
	margin-left: 0.8em;
}

footer > p {
	padding-bottom: 0.5em;
}

footer > a {
	text-decoration: none;
}
/*responsive design*/
@media only screen and (max-width: 699px) {
	nav, .news-feed {
		flex-direction: column;
	}
	form {
		width: 100%;
	}
	.row {
		justify-content: space-around;
	}
	.search-bar {
		width: 65%;
	}
	.filter {
		width: 30%;
	}
	.news-image-wrapper, .news-box {
		width: 100%;
	}
	.news-image-wrapper {
		margin-right: 0;
	}
}
@media only screen and (min-width: 700px) {
	main {
		max-width: 800px;
		margin: 0 auto;
		margin-top: 40px;
	}
}
